[submodule "Zshell/plugins/zsh-completions"]
	path = shell/plugin/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "Zshell/plugins/zsh-autosuggestions"]
	path = shell/plugin/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "Zshell/plugins/zsh-history-substring-search"]
	path = shell/plugin/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "Zshell/plugins/fast-syntax-highlighting"]
	path = shell/plugin/fast-syntax-highlighting
	url = git@github.com:zdharma/fast-syntax-highlighting.git
[submodule "Zshell/plugins/z.lua"]
	path = shell/plugin/z.lua
	url = git@github.com:skywind3000/z.lua.git
[submodule "Zshell/plugin/powerlevel10k"]
	path = shell/plugin/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
