[user]
	name = Jezrien Hsieh
	email = jtr860830@gmail.com
[color]
	ui = true
[core]
	editor = vim
[alias]
	co = commit
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
